.switch-wrapper {
  display: grid;
  grid-template-columns: 100%;
}

.switch-wrapper > div {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.container.floated {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .floated {
  float: none !important;
  display: block;
  position: relative !important;
}

@media only screen and (max-width: 767px){
  .about .container.floated {
    display: block;
  }
}
